# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
env/
venv/
.venv/
cameratrap/
conda-meta/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data (VERY IMPORTANT for your project)
data/
*.csv
*.sqlite
*.db

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Output files (your pipeline outputs)
outputs/
deployment_summary.csv
wildlife_dataset_master.csv
results/
figures/
processed/
wildlife_dataset.csv

# =========================
# Backup system
# =========================
backup/
*.bak

# =========================
# Docs notes (your request)
# =========================
docs/**/*.txt
docs/from-fyp/**/*